body {
    background: green;
}

.container {
    display: flex;
    justify-content: center;
}

td {
    border: 1px solid rgb(251, 255, 0);
    width: 200px;
    height: 200px;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    color: aquamarine;
    cursor: pointer;
  }
  
  td:hover {
    background: rgba(0, 0, 0, 0.411);
  }
  
  table {
    border: 1px solid green;
  }

  td:active {
      background: rgb(0, 0, 0);
  }
h1 {
    text-align: center;
    font-size: 4em;
    color: aquamarine;
    text-decoration: underline;
}

